Repository GreyRook/code-with-style, changes with the owners that CODEOWNERS names for each.
All owners: @sig/python, @sig/frontend-web, @sig/c, @sig/api-web, @sig/process, @sig/docs

Updated Sprint Goal and Daily Scrum
  docs/process/index.md
Owners: @sig/process

Apply suggestion to docs/process/index.md
  docs/process/index.md
Owners: @sig/process

Updated Sprint Planning
  docs/process/index.md
Owners: @sig/process

Scrum Roles clarification
  docs/process/index.md
Owners: @sig/process

Updated Sprint Retro
  docs/process/index.md
Owners: @sig/process

Fixed some formatting
  docs/process/index.md
Owners: @sig/process

Apply suggestion to docs/process/index.md
  docs/process/index.md
Owners: @sig/process

Update Ticket Description
  docs/process/index.md
Owners: @sig/process

Fixed Daily Scrum Header
  docs/process/index.md
Owners: @sig/process

Update Story Points
  docs/process/index.md
Owners: @sig/process

Updated Sprint Review
  docs/process/index.md
Owners: @sig/process

Update Sprint Refinement
  docs/process/index.md
Owners: @sig/process

Resolved Thread in Daily Scrum
  docs/process/index.md
Owners: @sig/process

Added timebox overview
  docs/process/index.md
Owners: @sig/process

Moved Sprint to the approriate section
  docs/process/index.md
Owners: @sig/process

Apply suggestion to docs/process/index.md
  docs/process/index.md
Owners: @sig/process

Fixed up the Scrum Roles
  docs/process/index.md
Owners: @sig/process

minor fix for clarity
  docs/process/index.md
Owners: @sig/process

added clarity for scope change
  docs/process/index.md
Owners: @sig/process

resolved thread and added marked examples
  docs/process/index.md
Owners: @sig/process

clarified Sprint Retro
  docs/process/index.md
Owners: @sig/process

Clarified the description of a Story Point
  docs/process/index.md
Owners: @sig/process

Cleaned up Story Points
  docs/process/index.md
Owners: @sig/process

Apply suggestion to docs/process/index.md
  docs/process/index.md
Owners: @sig/process

Update index.md
  docs/index.md
Owners: none

move to mkdocs
  .gitignore
  .gitlab-ci.yml
  mkdocs.yml
Owners: none

add dependency on mkdocs
  Pipfile
  Pipfile.lock
Owners: none

update link in changelog
  docs/CHANGELOG.md
Owners: none

fix path to sass docs in navigation
  mkdocs.yml
Owners: none

update README
  README.md
  docs/index.md
Owners: none

fix formatting
  docs/HOWTO.md
Owners: none

avoid scope creep in MRs
  docs/CHANGELOG.md
  docs/HOWTO.md
Owners: none

avoid scope creep in MRs
  docs/CHANGELOG.md
  docs/HOWTO.md
Owners: none

move png to LFS
  .gitattributes
  docs/typescript/react/react-example/architecture/component diagram.png
Owners: @sig/frontend-web

draw is preferred
  docs/CHANGELOG.md
  docs/HOWTO.md
Owners: none

Update docs/python/index.md
  docs/python/index.md
Owners: @sig/python

howto git rebase
  docs/git/git-rebase.md
Owners: none

started 'preferable ways' section in python guide
  docs/python/index.md
Owners: @sig/python

Add appropiate quote as introduction
  docs/index.md
Owners: none

parent 8d86a2075d7c98228ebb62f2082fc5a99873f023 author Marius Tippkämper <m.tippkaemper@greyrook.com> 1597994843 +0200 committer Marius Tippkämper <m.tippkaemper@greyrook.com> 1605685815 +0100
  docs/CHANGELOG.md
  docs/process/index.md
Owners: @sig/process

CODEOWNERS:

# special interest groups
/docs/python/ @sig/python
/docs/typescript/ @sig/frontend-web
/docs/c/ @sig/c
/docs/rest-api/ @sig/api-web
/docs/process @sig/process
/docs/markdown @sig/docs
