Repository GreyRook/code-with-style, changes with the owners that CODEOWNERS names for each.
All owners: @sig/python, @sig/frontend-web, @sig/c, @sig/api-web, @sig/process, @sig/docs

Added changelog, fixed HowTo
  docs/CHANGELOG.md
  docs/HOWTO.md
Owners: none

Apply suggestion to docs/HOWTO.md
  docs/HOWTO.md
Owners: none

Added workflow for guide changes
  docs/HOWTO.md
Owners: none

Apply suggestion to docs/HOWTO.md
  docs/HOWTO.md
Owners: none

Updated CHANGELOG.md to conform to our new change log format
  docs/CHANGELOG.md
Owners: none

Apply suggestion to docs/HOWTO.md
  docs/HOWTO.md
Owners: none

Update HOWTO.md
  docs/HOWTO.md
Owners: none

Renaming, include Youtube video for work contracts
  docs/HOWTO.md
Owners: none

add common unwanted files to gitignore
  .gitignore
Owners: none

Add ticket description
  docs/process/index.md
Owners: @sig/process

Added frontend backend split to process
  docs/process/index.md
Owners: @sig/process

Apply suggestion to docs/process/README.md
  docs/process/index.md
Owners: @sig/process

Apply suggestion to docs/process/README.md
  docs/process/index.md
Owners: @sig/process

pin versions
  Pipfile
  Pipfile.lock
Owners: none

add building instructions to README and mention public version
  README.md
Owners: none

add note for GR employees
  README.md
Owners: none

Mongo -> MongoDB
  docs/HOWTO.md
Owners: none

Use consistent headline markup
  docs/HOWTO.md
Owners: none

Gitlab -> GitLab
  docs/HOWTO.md
Owners: none

small language fixes
  docs/CHANGELOG.md
  docs/git/index.md
  docs/markdown/index.md
Owners: @sig/docs

add attribution notices
  docs/HOWTO.md
  docs/attribution.md
Owners: none

Add cc-by 4.0 license notice
  README.md
Owners: none

add attribution notices
  docs/HOWTO.md
  docs/attribution.md
Owners: none

add building instructions to README and mention public version
  README.md
Owners: none

add note for GR employees
  README.md
Owners: none

Add cc-by 4.0 license notice
  README.md
Owners: none

pin versions
  Pipfile
  Pipfile.lock
Owners: none

add missing changelog entry
  docs/CHANGELOG.md
Owners: none

readme.md -> index.md
  docs/index.md
  docs/sass/index.md
Owners: none

add sass doc
  docs/index.md
  docs/sass/README.md
  docs/typescript/index.md
Owners: @sig/frontend-web

resolve h5 inside h3
  docs/sass/README.md
Owners: none

clarify
  docs/sass/README.md
Owners: none

add changelog entry
  docs/CHANGELOG.md
Owners: none

we put changes in 'unreleased' until release
  docs/CHANGELOG.md
Owners: none

Apply suggestion to docs/typescript/index.md
  docs/typescript/index.md
Owners: @sig/frontend-web

Apply suggestion to docs/CHANGELOG.md
  docs/CHANGELOG.md
Owners: none

remove manual line breaks
  docs/process/index.md
Owners: @sig/process

update sprint time-box description
  docs/process/index.md
Owners: @sig/process

merge scum intro back into correct file
  docs/process/.gitkeep
  docs/process/index.md
  docs/process/process/README.md
Owners: @sig/process

fixup
  docs/process/index.md
Owners: @sig/process

CODEOWNERS:

# special interest groups
/docs/python/ @sig/python
/docs/typescript/ @sig/frontend-web
/docs/c/ @sig/c
/docs/rest-api/ @sig/api-web
/docs/process @sig/process
/docs/markdown @sig/docs
