Repository GreyRook/code-with-style, changes with the owners that CODEOWNERS names for each.
All owners: @sig/python, @sig/frontend-web, @sig/c, @sig/api-web

CODEOWNERS:

# special interest groups
/docs/python/ @sig/python
/docs/typescript/ @sig/frontend-web
/docs/c/ @sig/c
/docs/rest-api/ @sig/api-web

Apply suggestion to docs/process/README.md
  docs/process/README.md
Owners: none

Update README.md
  docs/process/README.md
Owners: none

Update README.md
  docs/process/README.md
Owners: none

Apply suggestion to docs/process/README.md
  docs/process/README.md
Owners: none

Flos NIT
  docs/process/README.md
Owners: none

e.g. -> i.e.
  docs/process/README.md
Owners: none

Apply suggestion to docs/process/README.md
  docs/process/README.md
Owners: none

Remove information about tickets that are too big. To be added again in more detail in another MR
  docs/process/README.md
Owners: none

Add that it is forbidden to work on a ticket that has no story points.
  docs/process/README.md
Owners: none

Copy information from /process/README.md to docs/process/README.md
  docs/process/README.md
Owners: none

Delete /process/README.md
  process/README.md
Owners: none

fix company spelling
  docs/conf.py
Owners: none

Apply suggestion to docs/process/process/README.md
  docs/process/process/README.md
Owners: none

Apply suggestion to docs/process/process/README.md
  docs/process/process/README.md
Owners: none

Add new file
  docs/process/process/README.md
Owners: none

Apply suggestion to docs/process/process/README.md
  docs/process/process/README.md
Owners: none

Apply suggestion to docs/process/process/README.md
  docs/process/process/README.md
Owners: none

Add new directory
  docs/process/.gitkeep
Owners: none

Apply suggestion to docs/process/process/README.md
  docs/process/process/README.md
Owners: none

Update README.md
  docs/process/process/README.md
Owners: none

Apply suggestion to docs/process/process/README.md
  docs/process/process/README.md
Owners: none

fix some spelling mistakes
  docs/python/README.md
Owners: @sig/python

add project and review chapters to index
  docs/index.md
Owners: none

Fixing some formatting issues and typos
  docs/process/README.md
  docs/typescript/README.md
Owners: @sig/frontend-web

Fixing some formatting issues and typos
  docs/process/README.md
  docs/typescript/README.md
Owners: @sig/frontend-web

add project and review chapters to index
  docs/index.md
Owners: none

fix some spelling mistakes
  docs/python/README.md
Owners: @sig/python

fix company spelling
  docs/conf.py
Owners: none

consistently name sub files `index.md`
  docs/git/index.md
  docs/process/index.md
  docs/projects/index.md
  docs/python/index.md
  docs/typescript/index.md
Owners: @sig/python, @sig/frontend-web

Clarify
  docs/process/README.md
Owners: none

Include information about rejecting tickets that are too big
  docs/process/README.md
Owners: none

Update README.md
  docs/process/README.md
Owners: none

Include more information about the Planning Poker process
  docs/process/README.md
Owners: none

Update README.md
  docs/process/README.md
Owners: none

consistent file names
  docs/index.md
  docs/typescript/angular/index.md
  docs/typescript/index.md
  docs/typescript/react/index.md
Owners: @sig/frontend-web

consistent file names
  docs/index.md
  docs/typescript/angular/index.md
  docs/typescript/index.md
  docs/typescript/react/index.md
Owners: @sig/frontend-web

consistently name sub files `index.md`
  docs/git/index.md
  docs/process/index.md
  docs/projects/index.md
  docs/python/index.md
  docs/typescript/index.md
Owners: @sig/python, @sig/frontend-web

Add markdown
  docs/index.md
  docs/markdown/index.md
Owners: none

Reformat process
  docs/process/index.md
Owners: none

Apply suggestion to docs/markdown/index.md
  docs/markdown/index.md
Owners: none
