Repository GreyRook/code-with-style, changes with the owners that CODEOWNERS names for each.
All owners: @sig/python, @sig/frontend-web, @sig/c, @sig/api-web, @sig/process, @sig/docs

Update index.md
  docs/process/index.md
Owners: @sig/process

Apply suggestion to docs/process/index.md
  docs/process/index.md
Owners: @sig/process

consistently spell Dev Team the same
  docs/process/index.md
Owners: @sig/process

fix some spelling
  docs/process/index.md
Owners: @sig/process

Clarify on Sprint Review time box
  docs/process/index.md
Owners: @sig/process

clarify on retro
  docs/process/index.md
Owners: @sig/process

spelling
  docs/process/index.md
Owners: @sig/process

spelling
  docs/process/index.md
Owners: @sig/process

clarify on bug tickets
  docs/process/index.md
Owners: @sig/process

Rm reason bugs have no story points
  docs/process/index.md
Owners: @sig/process

revert formatting changes
  docs/process/index.md
Owners: @sig/process

markdown: new newline rules
  docs/markdown/index.md
Owners: @sig/docs

add note about line breaks to changelog
  docs/CHANGELOG.md
Owners: none

fix some spelling
  docs/markdown/index.md
Owners: @sig/docs

remove manual line breaks
  docs/process/index.md
Owners: @sig/process

fix some spelling
  docs/process/index.md
Owners: @sig/process

merge scum intro back into correct file
  docs/process/.gitkeep
  docs/process/index.md
  docs/process/process/README.md
Owners: @sig/process

Apply suggestion to docs/process/index.md
  docs/process/index.md
Owners: @sig/process

consistently spell Dev Team the same
  docs/process/index.md
Owners: @sig/process

update sprint time-box description
  docs/process/index.md
Owners: @sig/process

Update index.md
  docs/process/index.md
Owners: @sig/process

fixup
  docs/process/index.md
Owners: @sig/process

apply julias suggestion
  docs/process/index.md
Owners: @sig/process

adhere to markdown guide
  docs/process/index.md
Owners: @sig/process

restructure part about story points / fibonacci
  docs/process/index.md
Owners: @sig/process

add general information about scrum and specify aim of agile
  docs/process/index.md
Owners: @sig/process

spelling
  docs/process/index.md
Owners: @sig/process

adhere to markdown guide
  docs/process/index.md
Owners: @sig/process

clarify on bug tickets
  docs/process/index.md
Owners: @sig/process

spelling
  docs/process/index.md
Owners: @sig/process

Rm reason bugs have no story points
  docs/process/index.md
Owners: @sig/process

revert formatting changes
  docs/process/index.md
Owners: @sig/process

h3 for story points
  docs/process/index.md
Owners: @sig/process

adhere to markdown guide
  docs/process/index.md
Owners: @sig/process

summarize in the beginning
  docs/process/index.md
Owners: @sig/process

new line for new sentence, some restructuring
  docs/process/index.md
Owners: @sig/process

Clarify on Sprint Review time box
  docs/process/index.md
Owners: @sig/process

clarify on retro
  docs/process/index.md
Owners: @sig/process

adhere to markdown guide
  docs/process/index.md
Owners: @sig/process

changelog
  docs/CHANGELOG.md
Owners: none

CODEOWNERS:

# special interest groups
/docs/python/ @sig/python
/docs/typescript/ @sig/frontend-web
/docs/c/ @sig/c
/docs/rest-api/ @sig/api-web
/docs/process @sig/process
/docs/markdown @sig/docs
