Repository GreyRook/code-with-style, changes with the owners that CODEOWNERS names for each.
All owners: @sig/python, @sig/frontend-web, @sig/c, @sig/api-web

CODEOWNERS:

# special interest groups
/docs/python/ @sig/python
/docs/typescript/ @sig/frontend-web
/docs/c/ @sig/c
/docs/rest-api/ @sig/api-web

PY: do not set python_version in Pipfile
  docs/python/README.md
Owners: @sig/python

add import example
  docs/python/README.md
Owners: @sig/python

py: names have context
  docs/python/README.md
Owners: @sig/python

py: cleanup copyied texts from python code style
  docs/python/README.md
Owners: @sig/python

clarify which abbrivations are okay to be used
  docs/python/README.md
Owners: @sig/python

add naming convetions based on Google PyGuide
  docs/python/README.md
Owners: @sig/python

Apply suggestion to docs/python/README.md
  docs/python/README.md
Owners: @sig/python

rewrite some of the naming conventions imported from google
  docs/python/README.md
Owners: @sig/python

file names must have at least two charackters.
  docs/python/README.md
Owners: @sig/python

fix broken links in ts readme
  docs/typescript/README.md
Owners: @sig/frontend-web

Apply suggestion to docs/typescript/angular/README.md
  docs/typescript/angular/README.md
Owners: @sig/frontend-web

Remove duplicates from typescript guidelines in react guidelines. Rename integration tests to e2e tests for consistency.
  docs/typescript/README.md
  docs/typescript/react/README.md
  docs/typescript/react/react-example/e2e/Dockerfile
  docs/typescript/react/react-example/e2e/README.md
  docs/typescript/react/react-example/e2e/assertions/elementCount.ts
  docs/typescript/react/react-example/e2e/commands/addButton.ts
  docs/typescript/react/react-example/e2e/pages/main.ts
  docs/typescript/react/react-example/e2e/tests/app.ts
Owners: @sig/frontend-web

Add prettier config
  docs/typescript/.prettierrc
  docs/typescript/README.md
Owners: @sig/frontend-web

Make heading type consistent
  docs/typescript/README.md
Owners: @sig/frontend-web

Apply suggestion to docs/typescript/angular/README.md
  docs/typescript/angular/README.md
Owners: @sig/frontend-web

Add how to write doc comments
  docs/typescript/README.md
Owners: @sig/frontend-web

Add angular style guide. Move react guide to a react folder.
  docs/index.md
  docs/typescript/README.md
  docs/typescript/angular/README.md
  docs/typescript/react/README.md
  docs/typescript/react/react-example/.eslintrc.js
  docs/typescript/react/react-example/.gitignore
  docs/typescript/react/react-example/.prettierrc.js
  docs/typescript/react/react-example/Dockerfile
  docs/typescript/react/react-example/README.md
  docs/typescript/react/react-example/architecture/ARCHITECTURE.md
  docs/typescript/react/react-example/architecture/component diagram.drawio
  docs/typescript/react/react-example/architecture/component diagram.png
  docs/typescript/react/react-example/integration-tests/Dockerfile
  docs/typescript/react/react-example/integration-tests/README.md
  docs/typescript/react/react-example/integration-tests/assertions/elementCount.ts
  docs/typescript/react/react-example/integration-tests/commands/addButton.ts
  docs/typescript/react/react-example/integration-tests/pages/main.ts
  docs/typescript/react/react-example/integration-tests/tests/app.ts
  docs/typescript/react/react-example/package.json
  docs/typescript/react/react-example/public/config.js
  docs/typescript/react/react-example/public/favicon.ico
  docs/typescript/react/react-example/public/index.html
  docs/typescript/react/react-example/public/manifest.json
  docs/typescript/react/react-example/src/App.scss
  docs/typescript/react/react-example/src/App.test.tsx
  docs/typescript/react/react-example/src/App.tsx
  docs/typescript/react/react-example/src/TypeDocExample.tsx
  docs/typescript/react/react-example/src/index.scss
  docs/typescript/react/react-example/src/index.tsx
  docs/typescript/react/react-example/src/logo.svg
  docs/typescript/react/react-example/src/react-app-env.d.ts
  docs/typescript/react/react-example/src/serviceWorker.ts
  docs/typescript/react/react-example/tsconfig.json
  docs/typescript/react/react-example/yarn.lock
Owners: @sig/frontend-web

Added git branch naming guidelines.
  docs/git/README.md
Owners: none

Added grammar fix and ticket subcategorie
  docs/git/README.md
Owners: none

Explained additional procedure for subtask naming
  docs/git/README.md
Owners: none

clarify
  docs/typescript/README.md
Owners: @sig/frontend-web

add best practise concerning taps/clicks
  docs/typescript/README.md
Owners: @sig/frontend-web

mark files as dev packages
  Pipfile
Owners: none

parse md files using sphinx-markdown-parser
  .gitignore
  Pipfile
  Pipfile.lock
  docs/Makefile
  docs/conf.py
Owners: none

update Pipfile.lock
  Pipfile.lock
Owners: none

add gitlab ci
  .gitlab-ci.yml
  Pipfile
Owners: none

Update README.md
  process/README.md
Owners: none

Apply suggestion to process/README.md
  process/README.md
Owners: none

Apply suggestion to process/README.md
  process/README.md
Owners: none

Update README.md
  process/README.md
Owners: none

Apply suggestion to process/README.md
  process/README.md
Owners: none

Contains more in detail information about our Scrum process
  process/README.md
Owners: none

Apply suggestion to process/README.md
  process/README.md
Owners: none

Apply suggestion to process/README.md
  process/README.md
Owners: none

Apply suggestion to process/README.md
  process/README.md
Owners: none

Apply suggestion to docs/process/README.md
  docs/process/README.md
Owners: none

Apply suggestion to docs/process/README.md
  docs/process/README.md
Owners: none

Update README.md
  docs/process/README.md
Owners: none

Added text for story point explaination
  docs/process/README.md
Owners: none

Apply suggestion to docs/process/README.md
  docs/process/README.md
Owners: none
